extends layouts/LayoutTheme
include ./mixins/homes/Showcase.pug
include ./mixins/homes/Bicycle.pug

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`) 
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`) 
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 

block beforeMainContent
  +FancyNav



append mainContent
  +Showcase