mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html#Gallery`) Accueil
                li.breadcrumb-item.active(aria-current='page') secretaire

            h1.fs-6.mb-2 Secretaire en teck avec rabattant
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-28.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-29.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-30.jpg` alt='').rounded.img-fluid
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €3000.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Rare secrétaire en teck de style Mid Century Modern conçu par Hvidt & Molgaard.
          h6.mt-4 Designer
          a(href=`https://www.1stdibs.com/creators/peter-hvidt/`).p Peter Hdvit
          h6.mt-4 Etat
          p.text-body-secondary Bon.
          h6.mt-4 Example
          a(href=`https://www.etsy.com/listing/889662409/mid-century-modern-hvidt-molgaard-teak`).p Etsy

          h6.mt-4 Contact
          a(mailto=`damianicely@gmail.com`).p.text-body-secondary damianicely@gmail.com
