mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html`) Accueil
                li.breadcrumb-item.active(aria-current='page') table-basse-surf

            h1.fs-6.mb-2 Table basse 'Surf'
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-70.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €1000.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Table basse en teck style ‘Surfboard’ (planche à surf), design très raffiné
          h6.mt-4 Etat
          p.text-body-secondary Bon.
          h6.mt-4 Contact
          a(mailto=`medical.devis@gmail.com`).p.text-body-secondary medical.devis@gmail.com